{% extends 'master' %}
{%block content%}
    <span id="todoApp">
    <h1 style="font-family: 'Wonderbar'">TODO APPLICATION</h1>
    <span><input style="width:35%; padding: 5px; border-radius: 4px;" @keyup.enter="addTodo" type="text" placeholder="Add to TodoList" v-model="message">
        <button style="width:10%" @click="addTodo">Add</button></span>
    <hr>
    
    <table class="table" border="0">
    {%for todo in todos%}
        <tr :class="{ todoDone: todo.done }">
            <td style="width:10%"><input type="checkbox"></td>
            <td style="width:60%; text-align:left; font-family:'Bauhaus 93'; font-size: 20pt">{{todo.name}}</td>
            <td style="width: 30%"><button class="btn" @click="">Delete</button></td>
        </tr>
    {%endfor%}
    </table>
    
    <!--
    <ul v-for="todo in todos">
        <li>{{todo}}</li>
    </ul>
    -->
    <!--<TodoItem v-for= "todo in todos"tod = todo></TodoItem>-->
  </span>
{%endblock%}